{% extends "layout.html" %}

{% block body %}

<div class="display-3 p-5">Sammlung</div>
<div class="lead ps-5 pb-5" style="width: 95ch;">1916 wurde die rund 2900 Menükarten umfassende Sammlung von dem
    Berliner
    Privatgelehrten Dr. Georg August Freund der
    Staatsbibliothek übergeben. Die Sammlung ist über die Jahre geringfügig erweitert worden, hauptsächlich aber
    stammen die
    Karten aus dem Zeitraum 1880-1913.</div>

<hr class="ms-5 me-5 p-5">

<div class="container">
    <div class="row">
        <div class="col-6 text-center mb-5">
            <img src="https://content.staatsbibliothek-berlin.de/dms/PPN1778979165/1200/0/00000001.jpg" width="300" />
        </div>
        <div class="col-6 mt-5" style="width: 67ch;">
            <p>1916 wurde die rund 2900 Menükarten umfassende Sammlung von dem
                Berliner
                Privatgelehrten Dr. Georg August Freund der
                Staatsbibliothek übergeben. Die Sammlung ist über die Jahre geringfügig erweitert worden, hauptsächlich
                aber
                stammen die
                Karten aus dem Zeitraum 1880-1913.</p>
            <p>
                Im Gegensatz zur Speisenkarte, die in Gasthäusern und Restaurants dem
                Gast die
                angebotene
                Speisenauswahl nennt ,
                informiert die Menükarte über die spezifische Speisenfolge einer Mahlzeit an einem bestimmten Tag. Neben
                der
                Speisenfolge werden auch die servierten Weine, Begleitmusiken und weiteren Darbietungen genannt. Damit
                bieten die Karten
                einen spannenden Einstieg in verschiedene kulturhistorische Fragestellungen an.
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-6 mb-5 mt-5 pt-5 " style="width: 67ch;">Sie sind zum Teil grafisch sehr
            aufwendig im Stil der
            Belle
            Epoche
            gestaltet. Es
            sind
            Menükarten von Vereinstreffen,
            Hochzeiten, Bällen und Schiffsreisen. Ein Schwerpunkt der Sammlung in der Staatsbibliothek liegt auf den
            Menuekarten der
            kaiserlichen Tafel Wilhelms II. von Preußen, wo auch immer sie stattfand: im Berliner Stadtschloss, im Neuen
            Palais in
            Potsdam, bei der Kur in Wiesbaden, auf einer Kreuzfahrt, im Manöver oder auf der Jagd. Es wird der Anlass
            und die Gäste
            benannt. Immer häufiger wird der Koch d.h. der Küchenmeister genannt, der auch auf die Kreuzfahrten
            mitgenommen wird.</div>
        <div class="col-6 text-center mb-5 mt-5">
            <img src="https://content.staatsbibliothek-berlin.de/dms/PPN1778319645/1200/0/00000001.jpg" width="300" />
        </div>
    </div>
</div>

{%endblock%}