{% extends "layout.html" %}

{% block body %}

<div class="display-3 p-5">Daten</div>
<div class="lead ps-5 pb-5" style="width: 95ch;">Die Daten der Menükarten-Sammlung sind fast vollständig in den
    Digitalisierten
    Sammlungen und über die Schnittstellen der Staatsbibliothek zu Berlin zugänglich. Informationen zu Zutaten und zur
    Zubereitung von Gerichten wurden mittels eines Sprachmodells generiert.</div>

<hr class="ms-5 me-5 p-5">

<div class="container">
    <div class="row">
        <div class=" col-3">
        </div>
        <div class="col-9">
            <div class="display-5">Transkription</div>
            <div class="lead mt-3 mb-1">Vom Bild zur Information</div>
            <p style="width: 67ch;"">In einem ersten Schritt wurden die Digitalisate maschinell transkribiert. Hierfür wurde die offene Transkriptionssoftware eScriptorium genutzt. eScriptorium segmentierte die Digitalisate, es wurden weitere Elemente manuell ausgezeichnet und schließlich Volltexte transkribiert.</p>
            <div class=" lead mt-3 mb-1">Auszeichnung
        </div>
        <p style="width: 67ch;"">In einem ersten Schritt wurden die Digitalisate maschinell transkribiert. Hierfür wurde die offene Transkriptionssoftware eScriptorium genutzt. eScriptorium segmentierte die Digitalisate, es wurden weitere Elemente manuell ausgezeichnet und schließlich Volltexte transkribiert.</p>
    </div>


</div>
<div class=" row mt-5 mb-5">
        <div class="col-3"></div>

        <div class="col-9  ">
            <div class="display-5">Anreicherung</div>
            <div class="lead mt-3 mb-1">Linked Open Data</div>
            <p style="width: 67ch;"">In einem ersten Schritt wurden die Digitalisate maschinell transkribiert. Hierfür wurde die offene Transkriptionssoftware eScriptorium genutzt. eScriptorium segmentierte die Digitalisate, es wurden weitere Elemente manuell ausgezeichnet und schließlich Volltexte transkribiert.</p>
        <div class=" lead mt-3 mb-1">GPT-4-Turbo
        </div>
        <p style="width: 67ch;"">In einem ersten Schritt wurden die Digitalisate maschinell transkribiert. Hierfür wurde die offene Transkriptionssoftware eScriptorium genutzt. eScriptorium segmentierte die Digitalisate, es wurden weitere Elemente manuell ausgezeichnet und schließlich Volltexte transkribiert.</p>
    </div>

</div>
</div>

{%endblock%}