{%extends "layout.html"%}
{%block body%}
<section>
    <div class="container-fluid bg-success-subtle text-light p-5 imgList">
        {%for menu in menucards%}
        <section>

            <img class="imgMenucard" src="{{menu.url}}" alt="">

        </section>

        {%endfor%}
        <div class="row feature">
            <h1 class="display-1">RetroBites</h1>
            <h2 class="display-6">Eine kulinarische Reise durch das Berlin der Jahrhundertwende</h2>

            <div style="text-align: center; margin-top: 20px;">
                <div class="btn btn-sm">
                    <div class="startButton bg-danger-subtle"
                        style="display: flex; justify-content: center; align-items: center;">
                        Bestellen</div>

                </div>

            </div>
        </div>
</section>
{%endblock%}