{%extends "layout.html"%}
{%block body%}
<section>
    <div class="container-fluid text-light p-5 bgImg main">

        <div class="row ">
            <div class="col feature" style="padding: 3rem;">
                <h1 class="display-1">Datenhappen</h1>
                <h2 class="display-6">Kulinarik und Code im Stabi Lab</h2>

                <a href="#map">
                    <div style="text-align: center; margin-top: 20px;">
                        <div class="btn btn-sm">
                            <div class="startButton bg-danger-subtle"
                                style="display: flex; justify-content: center; align-items: center;">
                                Los geht's</div>

                        </div>

                    </div>
                </a>
            </div>


        </div>
    </div>
</section>

<!-- <section>
    <div class="container-fluid text-light p-5 bg-success-subtle">
        <div class="imgList">
            {% for menu in menucards %}
            <div><img src="https://content.staatsbibliothek-berlin.de/dms/PPN{{menu.PPN}}/1200/0/00000001.jpg"
                    width="350" onclick="window.location.href='/item/{{menu.id}}'" /></div>

            {%endfor%}
        </div>
    </div>

</section> -->
<section>
    <div id="map" />
    <script src="{{ url_for('static', filename='js/map.js') }}" />
</section>

{%endblock%}