{% extends "layout.html" %}

{% block body %}

<div class="display-3 p-5">Über</div>
<div class="lead ps-5 pb-5" style="width: 95ch;">Diese Web-Anwendung wurde von Januar bis April 2025 von einem
    fünf-köpfigen Team der Staatsbibliothek zu Berlin entwickelt.</div>

<hr class="ms-5 me-5 ps-5 pt-5">

<div class="container">
    <div class="row">
        <div class="col">
            <div class="h5">Transkription und Auszeichnung</div>
            <p>Stefanie Arendt<br>Anikó Boros<br>Roman Kuhn<br>Judith Utz</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="h5">Datenmanagement und Webentwicklung</div>
            <p>Roman Kuhn<br>John Woitkowitz</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="h5">Kontakt</div>
            <p><a href="lab.sbb.berlin">lab.sbb.berlin</a> | <a href="mailto:lab@sbb.spk-berlin.de">lab@sbb.berlin.de</a></p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Logo_Staatsbibliothek_zu_Berlin.svg"
                alt="Logo der Staatsbibliothek zu Berlin" style="height: 50px;">
        </div>
    </div>

</div>
</div>

{%endblock%}