{%extends "layout.html"%}
{%block body%}

<section>
    <h1 class="display-2">Über RetroBites</h1>
    <h2 class="lead">Eine kulinarische Reise durch das Berlin der Jahrhundertwende</h2>

</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Die Anfänge der modernen Gastronomie in Berlin reichen bis in die Jahrhundertwende zurück. In dieser
                    Zeit entstanden zahlreiche Restaurants, Cafés und Bars, die die Berliner Küche prägten. Die
                    Speisekarten dieser Lokale sind heute ein wichtiges Zeugnis der Berliner Esskultur um 1900.
                    RetroBites
                    ist eine Sammlung von digitalisierten Speisekarten ausgewählter Berliner Lokale der
                    Jahrhundertwende.
                    Die Sammlung wird von der Staatsbibliothek zu Berlin präsentiert und ist Teil des Projekts Stabi
                    Lab.
                </p>
            </div>
            <div class="col-md-6">
                <img src="/static/images/ueber.jpg" class="img-fluid" alt="Eine historische Speisekarte">
            </div>
        </div>
</section>

{%endblock%}